.btn {
  color: white !important;
  padding: 5px 15px !important;
  margin-top: 10px;
  font-size: 14px;
  margin-right: 5px;
}

.btn.btn-default.btn-xs, .btn.btn-default {
  background-color: cornflowerblue;
}

.btn.btn.btn-default.btn-xs:hover, .btn.btn-default:hover {
  background-color: darken($color: cornflowerblue, $amount: 10);
}

.btn.btn-success:hover {
  background-color: darken($color: #5cb85c, $amount: 10) !important;
}

.nav.navbar-nav {
  float: right;
}

.btn.btn-danger:hover {
  background-color: darken($color: #d9534f, $amount: 10) !important;
}

.btn.btn-info:hover {
  background-color: darken($color: #5bc0de, $amount: 10) !important;
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  text-align: center;
  background-image: asset-url('sunset-beach.jpeg');
  background-size: cover;
  color: white;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 1px solid black
}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}

#lead {
  font-size: 22px;
}
